@inject LocalizationService Loc
@inject StateContainer StateContainer

<MudCard Outlined="true">
    <MudCardHeader Style="height: 3rem; border-bottom: 1px solid var(--mud-palette-lines-default);">
        <CardHeaderContent>
            <MudTooltip>
                <ChildContent>
                    <MudText>@Job.FileName</MudText>
                </ChildContent>
                <TooltipContent>
                    <MudText>@($"{Loc.Get(RS.FieldDateCreation)}: {Job.CreatedAtUtc.ToLocalTimeLong()}")</MudText>
                    <MudText>@($"{Loc.Get(RS.FieldDateCompleted)}: {Job.CompletedAtUtc.ToLocalTimeLong()}")</MudText>
                </TooltipContent>                
            </MudTooltip>
        </CardHeaderContent>
        <CardHeaderAvatar>
            @if(_isPending)
            {
                <Loading Size="Size.Small" Class="ml-3" />
            }
            else if (_isSuccessful)
            {
                <MudIcon Color="Color.Success" Icon="@Icons.Material.Filled.Check" Size="Size.Large" />
            }
            else 
            {
                <MudIcon Color="Color.Error" Icon="@Icons.Material.Filled.Error" Size="Size.Medium" />
            }
        </CardHeaderAvatar>
    </MudCardHeader>

    <MudCardContent Class="pt-3" Style="height: 6rem;">
        @if(!_isPending)
        {
            <MudText Typo="Typo.h6">@(Job.ReceiptMerchant is null ? $"{Loc.Get(RS.EntityStore)}: ?" : Job.ReceiptMerchant)</MudText>
            <MudText Typo="Typo.h6">@(Job.ReceiptTransactionDate is null ? $"{Loc.Get(RS.FieldDate)}: ?": Job.ReceiptTransactionDate.ToLocalTimeShort())</MudText>
        }

        @if(_isFailed && Job.Errors.Any())
        {
            <MudAlert Severity="Severity.Error" Variant="Variant.Outlined" Class="mt-2">
                @foreach(var error in Job.Errors)
                {
                    <div>@error</div>
                }
            </MudAlert>
        }
    </MudCardContent>
    <MudCardActions Style="height: 3rem;">
        @if (!_isPending)
        {
            @if (_isAlreadyCreated)
            {
                <MudChip T="string" Color="Color.Error">@Loc.Get(RS.ErrorReceiptAlreadyCreated)</MudChip>
            }
            else if (_isAlreadyPending)
            {
                <MudChip T="string" Color="Color.Warning">@Loc.Get(RS.ErrorReceiptAlreadyPending)</MudChip>
            }
            else
            {
                <MyButton Type="BtnAddTicket" OnClick="@OnCreateClick" FullWidth="true" />
            }
            <MudSpacer />

            <MyButton Type="IconDelete" OnClick="@OnDeleteClick"
                      Color="@(_isAlreadyCreated ? Color.Error : Color.Default)"
                      Size="@(_isAlreadyCreated ? Size.Large : Size.Medium)" />
        }
    </MudCardActions>
</MudCard>


@code {
    [Parameter] public required PendingAnalysisJob Job { get; set; }
    [Parameter] public EventCallback OnCreateClick { get; set; }
    [Parameter] public EventCallback OnDeleteClick { get; set; }

    private AnalysisJobStatusResponse _jobStatus => (AnalysisJobStatusResponse)Job.Status;
    private bool _isSuccessful => _jobStatus == AnalysisJobStatusResponse.Successful;
    private bool _isFailed => _jobStatus == AnalysisJobStatusResponse.Failed;
    private bool _isPending => Job.CheckPending;
    private bool _isAlreadyCreated => Job.IsReceiptAlreadyCreated;
    private bool _isAlreadyPending => Job.IsReceiptAlreadyPending;
}
