@page "/"
@inject LocalizationService Loc

<PageHeading Title="@Loc.Get(RS.AppTitle)" IsHome="true" />

<MudContainer MaxWidth="MaxWidth.Large">
    <AuthorizeView>
        <Authorized>
            <MudText Typo="Typo.h5" GutterBottom="true" Class="my-5">@Greeting(context.User.GetUserName())</MudText>
            <MudText>@_welcomeText</MudText>
        </Authorized>
        <NotAuthorized>
            <MudText Typo="Typo.h4" GutterBottom="true" Class="my-5">@Greeting("")</MudText>
            <MudText>@_welcomeText</MudText>
            <MudText Class="mt-5">@_unauthorizedText</MudText>
        </NotAuthorized>
    </AuthorizeView>

    @* <MudText Typo="Typo.h3" GutterBottom="true">@_welcomeText</MudText> *@
    <MudText Typo="Typo.body1" Class="my-4">
        @Loc.Get(RS.HomeTextInstallPwa)
    </MudText>

    <MudGrid Class="mt-5">
        <MudItem xs="12" sm="6" md="3">
            <MudCard>
                <MudCardContent>
                    <div style="text-align:center">
                        <MudIcon Icon="@Icons.Material.Filled.ReceiptLong" Size="Size.Large" Color="Color.Primary" />
                        <MudText Typo="Typo.h6">@Loc.Get(RS.EntityReceipts)</MudText>
                        <MudText Typo="Typo.body2">@(string.Format(Loc.Get(RS.InfoReceipts0), Loc.Get(RS.EntityReceipts)))</MudText>
                    </div>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary" FullWidth="true" Href="/receipts">
                        @(string.Format(Loc.Get(RS.ActView0), Loc.Get(RS.EntityReceipts)))
                    </MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>

        <MudItem xs="12" sm="6" md="3">
            <MudCard>
                <MudCardContent>
                    <div style="text-align:center">
                        <MudIcon Icon="@Icons.Material.Filled.Article" Size="Size.Large" Color="Color.Secondary" />
                        <MudText Typo="Typo.h6">@Loc.Get(RS.EntityProducts)</MudText>
                        <MudText Typo="Typo.body2">@(string.Format(Loc.Get(RS.InfoProducts0), Loc.Get(RS.EntityProducts)))</MudText>
                    </div>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Secondary" FullWidth="true" Href="/products">
                        @(string.Format(Loc.Get(RS.ActView0), Loc.Get(RS.EntityProducts)))
                    </MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>

        <MudItem xs="12" sm="6" md="3">
            <MudCard>
                <MudCardContent>
                    <div style="text-align:center">
                        <MudIcon Icon="@Icons.Material.Filled.Storefront" Size="Size.Large" Color="Color.Tertiary" />
                        <MudText Typo="Typo.h6">@Loc.Get(RS.EntityStores)</MudText>
                        <MudText Typo="Typo.body2">@(string.Format(Loc.Get(RS.InfoStores0), Loc.Get(RS.EntityStores)))</MudText>
                    </div>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Tertiary" FullWidth="true" Href="/stores">
                        @(string.Format(Loc.Get(RS.ActView0), Loc.Get(RS.EntityStores)))
                    </MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>

        <MudItem xs="12" sm="6" md="3">
            <MudCard>
                <MudCardContent>
                    <div style="text-align:center">
                        <MudIcon Icon="@Icons.Material.Filled.QueryStats" Size="Size.Large" Color="Color.Info" />
                        <MudText Typo="Typo.h6">@Loc.Get(RS.EntityStats)</MudText>
                        <MudText Typo="Typo.body2">@(string.Format(Loc.Get(RS.InfoStats0), Loc.Get(RS.EntityStats)))</MudText>
                    </div>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Tertiary" FullWidth="true" Href="/stores">
                        @(string.Format(Loc.Get(RS.ActView0), Loc.Get(RS.EntityStats)))
                    </MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    private string Greeting(string username) => string.Format(Loc.Get(RS.Hello0), username);
    private MarkupString _welcomeText => (MarkupString)(string.Format(Loc.Get(RS.HomeTextWellcome0), $"<strong>{Loc.Get(RS.AppTitle)}</strong>"));
    private string _unauthorizedText => string.Format(Loc.Get(RS.HomeTextLoginToStart0), Loc.Get(RS.ActLogin));
}